@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@100;200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

*::selection {
  background-color: #ffd66e;
  color: #111;
}

/* --------------------------- Background colors */
.bg-color-yellow {
  background-color: #daa520;
}

.bg-color-green {
  background-color: #154232;
}

.bg-color-black {
    background-color: #111;
}

body {
  font-family: "Montserrat", serif;
}

/* --------------------------- Special margins/text */
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Italiana", serif;
  letter-spacing: 1px;
}

.inline-block {
  display: inline-block;
}

hr {
  border: 1px solid #daa520;
  width: 60%;
  margin: 0 auto;
}

/* --------------------------- Header */
header {
  font-family: "Montserrat", serif !important;
  font-size: 24px;
  text-decoration: none;
}

.navbar-brand {
  font-size: 26px;
  font-family: "Italiana", serif;
  color: #111;
  text-align: center;
}

.active {
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link {
  color: #042920;
}

.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: #080808;
}

.navbar-light .navbar-text {
  margin-left: 20px;
  margin-top: 0;
  color: #080808;
}

.navbar-light .navbar-toggler {
  border-color: transparent;

}

.navbar-toggler:focus,
.navbar-toggler:hover {
  border-color: #ffd66e;
  background-color: #daa520;
  outline: none;
}

/* --------------------------- Greeting */
.black-section {
text-align: center;
color: #ffd66e;
font-size: 18px;
padding: 20px 30px;
}

.black-section h1 {
 color: #daa520;
  text-shadow: 2px 4px 3px #080808;
  padding: 20px 0;
}

.black-section hr {
    margin-bottom: 20px;
}

/* --------------------------- How to find us (contact section)*/
.yellow-section {
  color: #080808;
  padding: 30px 15px 30px 15px;
  float: none;
}

.yellow-section p {
  font-size: 26px;
  padding: 20px 0;
}

.yellow-section div {
  margin-left: auto;
  margin-right: auto;
}

.yellow-section a {
  margin-left: auto;
  margin-right: auto;
}

/* --------------------------- Meet our team (pictures overlay)*/
.simple-overlay {
  color: #daa520;
  text-align: center;
}

.simple-overlay img {
  border: 5px solid #daa520;
  width: 80%;
}

.simple-overlay h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.simple-overlay button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-overlay {
  display: none;
}

/* --------------------------- Team page */
.team-general {
  text-align: center;
}

.team-general img {
  width: 80%;
  margin: 60px auto;
  border: 5px solid #daa520;
}

.team-general h1 {
  color: #daa520;
  text-shadow: 2px 4px 3px #111;
  padding-bottom: 30px;
}

.team-members h1,
.team-members h2,
.team-members h4 {
  color: #daa520;
  text-shadow: 2px 4px 3px #111;
}

.team-members h4 {
  padding-bottom: 30px;
}

.text-first {
  text-align: right;
  color: #ffd66e;
  padding: 20px 30px 20px 30px;
}

.text-first img {
  width: 80%;
  margin-left: 60px;
  float: left;
}

.picture-first {
  text-align: left;
  color: #ffd66e;
  padding: 20px 30px 20px 30px;
}

.picture-first img {
  width: 80%;
  margin-right: 60px;
  float: right;
}

/* --------------------------- Contact page */
.green-section {
  color: #ffd66e;
  font-weight: 300;
  font-size: 24px;
  padding: 30px 15px 30px 15px;
  float: none;
}

.green-section i {
  font-size: 26px;
  padding: 20px;
  color: #daa520;
  text-shadow: 2px 4px 3px #080808;
}

.green-section div {
  margin-left: auto;
  margin-right: auto;
}

.green-section a {
  margin-left: 60px;
}

.green-section h1 {
  color: #daa520;
  text-shadow: 2px 4px 3px #080808;
  padding-bottom: 10px;
  text-align: center;
}

.green-section h3 {
  padding: 20px 0;
}

.contact-form {
  margin-top: 60px;
}

.form-group {
  margin-top: 20px;
}

/* --------------------------- Footer */
footer {
  color: #1f1f1f;
  font-family: "Montserrat", serif;
}

.footer-logo {
  font-weight: 400;
  font-size: 38px;
  color: #080808;
  text-align: center;
  padding: 25px 20px;
}

.footer-logo:hover {
  color: #042920;
}

.footer-items {
  height: 160px;
  min-width: 174px;
  text-align: center;
  padding: 0;
  vertical-align: middle;

  width: 100%;
}

.footer-items i {
  display: inline-block;
  color: #1f1f1f;
  font-size: 18px;
}

.footer-items h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-icons li a i {
  width: 36px;
  height: 36px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 22px;
  line-height: 12px;
  text-align: center;
  color: #042920;
  background: transparent;
}

.social-icons li a i:hover {
  background: #154232;
  color: #ffd66e;
}

/* --------------------------- Priceguide */
.priceguide {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.priceguide-heading {
  text-align: center;
  padding: 20px;
  color: #fff;
}

.bg-color-green table {
  background-color: #fff;
  margin-bottom: 30px;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #080808;
  color: #ffd66e;
  text-align: center;
}

.jumbotron h1 {
  text-shadow: none;
}

/* --------------------------- Image overlay on larger screens */
@media (min-width: 1120px) {
  .simple-overlay {
    display: none;
  }

  .image-overlay {
    padding-top: 120px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
  }

  .image-overlay__item--top {
    grid-column: 2 / span 4;
    padding-top: 70%;
    grid-row: 1;
    z-index: 3;
    text-align: center;
  }

  .image-overlay__item--top h2 {
    padding-bottom: 20px;
    font-size: 2.8vw;
  }

  .image-overlay__item--top p {
    padding-bottom: 20px;
    font-size: 1.8vw;
  }

  .image-overlay__item--medium {
    grid-column: 2 / span 4;
    grid-row: 1;
    padding-top: 60%;
    z-index: 2;
  }

  .image-overlay__item--bottom {
    grid-column: 5 / span 6;
    grid-row: 1;
    z-index: 1;
  }

  .image-overlay img {
    width: 100%;
    display: block;
  }

  #bottom-image {
    border: 5px solid #daa520;
  }

  .black-section {
text-align: center;
color: #ffd66e;
font-size: 24px;
padding: 40px 100px;
}
}

/* --------------------------- Different screens */
@media (max-width: 768px) {
  .navbar-light .navbar-text {
    display: none !important;
  }

  .green-section {
    font-size: 18px;
  }

  .green-section i {
    font-size: 20px;
    padding: 8px;
  }

  .green-section h3 {
    font-size: 24px;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .empty-space {
    height: 480px;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .logo {
    font-size: 26px;
  }

  .team-members {
    padding-left: 60px;
    padding-right: 60px;
  }

  .picture-first img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .text-first img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .empty-space {
    height: 200px;
  }
}

/* --------------------------- Team on larger screens */
@media (min-width: 1200px) {
  .team-members {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 1.4vw;
  }

  .team-members h4 {
    padding-bottom: 40px;
  }

  .picture-first img {
    width: 80%;
  }

  .text-first img {
    width: 80%;
  }
}

/* --------------------------- Team on XXL screens */
@media (min-width: 1600px) {
  .team-members {
    padding-left: 160px;
    padding-right: 160px;
    font-size: 1.2vw;
  }

  .team-members h4 {
    padding-bottom: 40px;
  }

  .picture-first img {
    width: 60%;
  }

  .text-first img {
    width: 60%;
  }
}
