@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display:wght@400;500;600&display=swap");

/* --------------------------- Background colors */
.bg-color-contact {
  background-color: #daa520;
}

.bg-color-header {
  background-color: #daa520;
}
.bg-color-team {
  background-color: #154232;
}

body {
  font-family: "Playfair", serif;
}

/* --------------------------- Special margins/text */
h1 {
  font-family: "Italiana", serif;
  font-weight: 200;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Italiana", serif;
}

.inline-block {
  display: inline-block;
}

/* --------------------------- Header */
header {
  font-family: "Playfair", serif !important;
  font-size: 22px;
  color: #154232;
  text-decoration: none;
}

.logo {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 28px;
  color: #154232;
  text-align: center;
}

.navbar-nav a {
  color: #154232;
}

.navbar-nav span {
  margin-left: 10px;
}

/* --------------------------- How to find us (contact section)*/
.section-row {
  color: #154232;
  padding: 30px 30px 15px 15px;
  float: none;
}

.section-row p {
  font-size: 18px;
  padding: 20px 0;
}

.section-row div {
  margin-left: 25px;
}

.section-row a {
  margin-left: 60px;
}

/* --------------------------- Meet our team (pictures overlay)*/
.image-overlay {
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.image-overlay__item--top {
  grid-column: 2 / span 4;
  padding-top: 70%;
  grid-row: 1;
  z-index: 3;
  text-align: center;
}

.image-overlay__item--top h2 {
  padding-bottom: 20px;
  font-weight: 400;
}

.image-overlay__item--top p {
  padding-bottom: 20px;
  font-size: 22px;
}

.image-overlay__item--medium {
  grid-column: 2 / span 4;
  grid-row: 1;
  padding-top: 60%;
  z-index: 2;
}

.image-overlay__item--bottom {
  grid-column: 5 / span 6;
  grid-row: 1;
  z-index: 1;
}

.image-overlay img {
  width: 100%;
  display: block;
}

#medium-image {
  padding-bottom: 120px;
}

#bottom-image {
  border: 5px solid #daa520;
}

/* --------------------------- Footer */
footer {
  background-color: #daa520;
  color: #343a40;
}

.footer-logo {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 38px;
  color: #154232;
  text-align: center;
  padding: 25px 0 25px 20px;
}

.footer-items {
height: 160px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer-items a i {
    padding-top: 22px;
    padding-left: 10px;
  display: block;
  color: #154232;
  font-size: 26px;
}

.footer-items h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-row {
    font-weight: 300;
    height: 80px;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}